<p>Blog: <strong>{{ .Site.Title }}</strong></p>

<p>All pages on this blog:</p>


<ul class="pagelist">
{{ $list := (where .Site.Pages "Type" "page") }}
		{{ if gt (len $list) 0 }}
			{{ range $list }}
				<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
			{{ end }}
	{{ end }}
</ul>

<p>All post categories used on this blog:</p>

<ul class="pagelist">
{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ if gt (len $list) 0 }}
			{{ range $list }}
				<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
			{{ end }}
	{{ end }}
</ul>
