<p>Blog: <strong>{{ .Site.Title }}</strong></p>

{{ $list := (where .Site.Pages.ByTitle "Type" "page") }}
	{{ if gt (len $list) 0 }}
		<p>All pages on this blog:</p>
		<ul class="pagelist">
		{{ range $list }}
			<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
		</ul>
	{{ end }}

{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ if gt (len $list) 0 }}
		<p>All post categories used on this blog:</p>
		<ul class="pagelist">
		{{ range $list }}
			<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
		</ul>
	{{ end }}
