<p><strong>{{ .Site.Title }}</strong> — <a href="{{ .Site.BaseURL }}">🔗 {{ .Site.BaseURL }}</a></p>

<div class="navlist">

{{ $navpages := (where .Site.Pages.ByTitle "Type" "page") }}
	{{ if gt (len $navpages) 0 }}
		<p>Links to all pages on this blog:</p>
		<ul>
		{{ range $navpages }}
			<li>📄 <a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
		</ul>
	{{ end }}

{{ $navcats := ($.Site.GetPage "taxonomyTerm" "categories").Pages.ByTitle }}
	{{ if gt (len $navcats) 0 }}
		<p>Links to all post categories used on this blog:</p>
		<ul>
		{{ range $navcats }}
			<li>🏷️ <a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
		</ul>
	{{ end }}

</div>